
@media (min-width: 400px) and (max-width: 8799px) {
    #inv {
    zoom: 100%}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Semibold.woff);
    font-weight: 500;
    font-display: swap
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Light.woff);
    font-weight: 100;
    font-display: swap
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Bold.woff);
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNova-Extrabld.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}


}::-webkit-scrollbar {
    width: 2px;
    display: block;
    background-color: #b2b3b600;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #0496ec00;
    border-radius: 2px;
}

@import https://fonts.googleapis.com/css2?family=Montserrat:wght@100;
    300;
    400;
    500;
    600;
    700;
    800;
    900&display=swap;
    @font-face {
    font-family: 'Uni Neue';
    font-weight: 300;
    font-style: normal;
    src: local('Uni Neue'), local(Uni_Neue), local(Uni-Neue), url(../fonts/UniNeue/100/UniNeueLight.woff2) format("woff2"), url(../fonts/UniNeue/100/UniNeueLight.woff) format("woff");
}

@font-face {
    font-family: 'Uni Neue';
    font-weight: 400;
    font-style: normal;
    src: local('Uni Neue'), local(Uni_Neue), local(Uni-Neue), url(../fonts/UniNeue/200/UniNeueRegular.woff2) format("woff2"), url(../fonts/UniNeue/200/UniNeueRegular.woff) format("woff");
}
@font-face {
    font-family: 'Uni Neue';
    font-weight: 700;
    font-style: normal;
    src: local('Uni Neue'), local(Uni_Neue), local(Uni-Neue), url(../fonts/UniNeue/300/UniNeueBold.woff2) format("woff2"), url(../fonts/UniNeue/300/UniNeueBold.woff) format("woff");
}
@font-face {
    font-family: 'Uni Neue';
    font-weight: 800;
    font-style: normal;
    src: local('Uni Neue'), local(Uni_Neue), local(Uni-Neue), url(../fonts/UniNeue/400/UniNeueHeavy.woff2) format("woff2"), url(../fonts/UniNeue/400/UniNeueHeavy.woff) format("woff");
}
@font-face {
    font-family: 'Uni Neue';
    font-weight: 900;
    font-style: normal;
    src: local('Uni Neue'), local(Uni_Neue), local(Uni-Neue), url(../fonts/UniNeue/500/UniNeueBlack.woff2) format("woff2"), url(../fonts/UniNeue/500/UniNeueBlack.woff) format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local(Roboto), url(../fonts/Roboto/400/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto/400/Roboto-Regular.woff) format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: local(Roboto), url(../fonts/Roboto/500/Roboto-Medium.woff2) format("woff2"), url(../fonts/Roboto/500/Roboto-Medium.woff) format("woff");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local(Roboto), url(../fonts/Roboto/700/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto/700/Roboto-Bold.woff) format("woff");
}
@media (min-width: 400px) and (max-width: 8799px) {
    #inventory {
    zoom: 100%}

}::-webkit-scrollbar {
    width: 2px;
    display: block;
    background-color: #b2b3b600;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #0496ec00;
    border-radius: 2px;
}
.context_menu {
    position: absolute;
    z-index: 999;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.55);
   border-left: 2px solid #d11f1f;
    min-width: 5vh;
    border-radius: 5px;
    padding: 5px;
    width: 131px;
    font-family: "Acrom", sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.timeBlock{
	color: #ffffff;
    position: fixed;
    top: 2%;
    font-size: 2.16667vh;
    line-height: 3.03704vh;
    letter-spacing: .12em;
    font-weight: 700;
    right: 1%;
}
.timeClock{
	    margin-left: 30px;    
		margin-bottom: -21px;
}
.logoProject{
position: fixed;
    top: -3vw;
    left: 0%;
    display: flex;
    width: 14%;
	transition: all .33s;
    opacity: 0.7;
}
.logoProject:hover{
	width:14.5%;  
	transform: rotate(9deg);
	transition: all .33s;
	opacity:0.3;
}
.blackScreenRight{
	background: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 28%));
    width: 16%;
    height: 100%;
    top: 0%;
    left: 84%;
    position: fixed;
}
.blackScreen{
	background: rgb(0 0 0 / 47%);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    position: fixed;
}
.blackScreenLeft{
	background: linear-gradient(to right, rgb(0 0 0 / 28%), rgb(0 0 0 / 0%));
    width: 16%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
}
.context_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 5px 0;
}
.context_menu li {
    display: block;
    margin-bottom: 0;
    padding: .5vh;
    font-size: 14px;
    border-radius: 1vh;
}
.context_menu li:hover {
    background: #d11f1f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.context_menu li:last-child {
    margin-bottom: 0;
}
@font-face {
    font-family: 'Acrom';
    src: url(../fonts/invent.ttf);
}
#inventory {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Acrom", sans-serif;
    display: flex;
    zoom: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#inventory.active {
    display: block;
}
#inventory .title_block {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.66667vh;
    line-height: 2.03704vh;
    letter-spacing: .05em;
    font-weight: 700;
    color: #FFF;
}
#inventory .title_block .picture {
    position: absolute;
    left: -2.31481vh;
    width: 4.62963vh;
}
#inventory .inventory_block {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 730px;
    position: absolute;
    left: 42%;
    top: 50%;
    margin-top: -361px;
    margin-left: -500px;
}
#inventory .inventory_block .other_window {
    width: 376px;
    margin-left: 7.40741vh;
}
#inventory .inventory_block .other_window .fast_block {
    margin-top: 3.33333vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    border-radius: .55556vh;
    padding: 2.22222vh 1.85185vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    cursor: not-allowed;
}
#inventory .inventory_block .other_window .fast_block .item_position {
    width: 74.92px;
    height: 74.92px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .55556vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.38889vh;
}
#inventory .item_name {
    border-radius: 1vh;
    color: #fff;
    font-weight: 300;
    padding: .5vh;
    position: absolute;
    z-index: 99999999999;
}
#inventory .inventory_block .items_window .items_list_block.out {
	height: 277px;
    position: relative;
    width: 45%;
    left: -47%;
    bottom: 342px;
}
#inventory .inventory_block .items_window .items_list_block:last-child h1 {
	font-size: 16px;
    width: 100%;
    display: block;
    position: absolute;
    top: -71px;
    text-align: center;
    left: 0;
    color: #fff;
    border-radius: 5px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.55);
}
#inventory .inventory_block .other_window .fast_block .item_position:nth-last-child(1) {
    margin-bottom: 0;
}
#inventory .inventory_block .other_window .fast_block .item_position:nth-last-child(2) {
    margin-bottom: 0;
}
#inventory .inventory_block .other_window .fast_block .item_position:nth-last-child(3) {
    margin-bottom: 0;
}
#inventory .inventory_block .other_window .fast_block .item_position:nth-last-child(4) {
    margin-bottom: 0;
}
#inventory .inventory_block .other_window .fast_block .item_position.none {
    opacity: 0;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block {
    width: 7.87037vh;
    height: 7.87037vh;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .55556vh;
    position: relative;
    z-index: 100;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .74074vh;
    position: relative;
    z-index: 10;
    padding: 0 .64815vh;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .header .count {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #F3BB2B;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .header .weight {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .item_Image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    z-index: 9;
}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .item_Image img {
    width: 65%}
#inventory .inventory_block .other_window .fast_block .item_position .item_block .name_Item {
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 0 .27778vh;
    bottom: .83333vh;
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
    z-index: 10;
}
#inventory .inventory_block .other_window .state_block {
    width: 100%;
    margin-bottom: 2.96296vh;
    background: rgba(0, 0, 0, 0.55);
    border-radius: .55556vh;
    padding: 2.68519vh 1.59259vh;
    padding-bottom: 1.94444vh;
    padding-right: 1.22222vh;
    margin-top: 3.42593vh;
    box-sizing: border-box;
}
#inventory .inventory_block .other_window .state_block .progress_block {
    margin-bottom: 5px;
}
#inventory .inventory_block .other_window .state_block .progress_block:nth-last-child(1) {
    margin-bottom: 0;
}
#inventory .inventory_block .other_window .state_block .progress_block .title_block {
    font-size: 12px;
    display: inline-block;
    width: auto;
}
#inventory .inventory_block .other_window .state_block .progress_block .title_block .picture {
    width: 57px;
    left: 3vh;
}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line {
    width: 100%;
    margin-top: .46296vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    display: inline-block;
    text-align: revert;
    color: #fff;
    font-size: 12px;
    float: right;
}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line .progress {
    width: 27.77778vh;
    height: .55556vh;
    border-radius: .55556vh;
    background: rgba(255, 255, 255, 0.15);
}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line .progress .value {
    height: .55556vh;
    background: linear-gradient(90deg, #00a2f6 0%, #004569 219%);
    border-radius: .55556vh;
}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line .percent {
    width: 5.46296vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line .percent img {
    width: 100%}
#inventory .inventory_block .other_window .state_block .progress_block .progress_line .percent .count {
    position: absolute;
    z-index: 2;
    font-size: 1.11111vh;
    color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#inventory .inventory_block .other_window .balance_block {
    width: auto;
    height: 8.33333vh;
    margin-bottom: 4vh;
    background: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
}
#inventory .inventory_block .other_window .balance_block .logotype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 6.01852vh;
    height: 6.01852vh;
    background: #fff;
    margin-left: .92593vh;
    border-radius: 5px;
}
#inventory .inventory_block .other_window .balance_block .logotype img {
    width: 100px;
}
#inventory .inventory_block .other_window .balance_block .button_pay {
    margin-left: 1.66667vh;
    width: 10.64815vh;
    height: 4.16667vh;
    background: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.11111vh;
    cursor: pointer;
    color: #fff;
    -webkit-box-shadow: 0 1.38889vh 12.96296vh #000;
    box-shadow: 0 1.38889vh 12.96296vh #000;
    border-radius: 9.25926vh;
}
#inventory .inventory_block .other_window .balance_block .balance {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 0 8px;
    width: 113px;
}
#inventory .inventory_block .other_window .balance_block .balance .count {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    margin-top: 8px;
}
#inventory .inventory_block .items_window {
    width: 463px;
    margin-right: 7.40741vh;
}
#inventory .inventory_block .items_window .logo_block {
    width: 100%;
    margin-bottom: 7.68519vh;
    opacity: 0;
}
#inventory .inventory_block .items_window .logo_block img {
    width: 9.25926vh;
}
#inventory .inventory_block .items_window .items_list_block {
    height: 730px;
    background: rgba(0, 0, 0, 0.55);
    margin-bottom: 6vh;
    border-radius: .55556vh;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.85185vh 1vh 1.85185vh 1.85185vh;
}
#inventory .inventory_block .items_window .items_list_block .items_list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#inventory .inventory_block .items_window .items_list_block .items_list::-webkit-scrollbar {
    width: .46296vh;
}
#inventory .inventory_block .items_window .items_list_block .items_list::-webkit-scrollbar-track {
    border-radius: 1.85185vh;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);
}
#inventory .inventory_block .items_window .items_list_block .items_list::-webkit-scrollbar-thumb {
    border-radius: 1.85185vh;
    background: linear-gradient(90deg, #00a9ff 0%, #000102 219%);
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position {
    width: 6.48148vh;
    height: 6.48148vh;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .55556vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: .92593vh;
    margin-right: .92593vh;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-child(6n) {
    margin-right: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(1) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(2) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(3) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(4) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(5) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position:nth-last-child(6) {
    margin-bottom: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position.none {
    opacity: 0;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block {
    width: 6.48148vh;
    height: 6.48148vh;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .55556vh;
    position: relative;
    z-index: 100;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .64815vh;
    position: relative;
    z-index: 2;
    padding: 0 .46296vh;
    z-index: 10;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .header .count {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #F3BB2B;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .header .weight {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .item_Image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    z-index: 9;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .item_Image img {
    width: 50%;
    z-index: 10;
}
#inventory .inventory_block .items_window .items_list_block .items_list .item_position .item_block .name_Item {
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 0 .37037vh;
    bottom: .92593vh;
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
}
#inventory .inventory_block .person_items {
    position: relative;
    width: 367px;
    margin-top: 5.55556vh;
}
#inventory .inventory_block .person_items .boy {
    position: absolute;
    top: 0;
    width: 375px;
    height: 682px;
    left: 2.03704vh;
}
#inventory .inventory_block .person_items .item_line {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#inventory .inventory_block .person_items .item_line .center {
    margin: 0 3.7037vh;
    margin-top: 5.18518519vh;
}
#inventory .inventory_block .person_items .item_line .center .item_position {
    margin-bottom: 5.18518519vh;
}
#inventory .inventory_block .person_items .item_line .center .item_position:nth-child(2) {
    margin-bottom: 5.18518519vh;
}
#inventory .inventory_block .person_items .item_line .center .item_position:nth-child(3) {
    margin-bottom: 7.87037037vh;
}
#inventory .inventory_block .person_items .item_line .center .item_position:nth-child(4) {
    margin-bottom: 0;
}
#inventory .inventory_block .person_items .item_line .left, #inventory .inventory_block .person_items .item_line .right {
    margin-top: .925925vh;
}
#inventory .inventory_block .person_items .item_line .left .item_position, #inventory .inventory_block .person_items .item_line .right .item_position {
    margin-bottom: 5vh;
}
#inventory .inventory_block .person_items .item_line .item_position {
    margin: 0 .55556vh;
    width: 89px;
    height: 89px;
    background: rgba(0, 0, 0, 0.55);
    border-radius: .55556vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0;
}
#inventory .inventory_block .person_items .item_line .item_position.none {
    opacity: 0;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block {
    width: 9.25926vh;
    height: 9.25926vh;
    background: rgba(0, 0, 0, 0.35);
    border-radius: .55556vh;
    position: relative;
    z-index: 100;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.2037vh;
    position: relative;
    z-index: 10;
    padding: 0 .92593vh;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block .header .count {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #F3BB2B;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block .header .weight {
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block .item_Image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    z-index: 9;
}
#inventory .inventory_block .person_items .item_line .item_position .item_block .item_Image img {
    width: 65%}
#inventory .inventory_block .person_items .item_line .item_position .item_block .name_Item {
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 0 .92593vh;
    bottom: .92593vh;
    font-size: .92593vh;
    line-height: 1.11111vh;
    text-align: center;
    color: #FFF;
}
#inventory .inventory_menu {
    background: #0077b4;
    color: #fff;
    min-width: 5vh;
    position: absolute;
    z-index: 99999999999;
    border-radius: 1vh;
    padding: 5px;
}
#inventory .inventory_menu .menu-item {
    padding: .5vh;
    font-size: 14px;
    border-radius: 1vh;
}
#inventory .inventory_menu .menu-item:hover {
    background: #fff;
    color: #000;
    border-radius: 3px;
    cursor: pointer;
}
.board .inventory_block .items_window .items_list_block .items_list .h {
    height: 67px;
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.item {
	background: #ffffff12;
    width: 7vh;
    height: 7vh;
    border-radius: 1vh;
    display: flex;
    margin-bottom: 2vh;
    margin-right: 2.1vh;
    position: relative;
	transition: all .98s;
}
.item img {
   width: 3vh;
		height: 3vh;
    display: block;
    margin: 15px auto 0;
}
.item span {
    float: right;
    margin: 10px;
    font-size: 16pt;
    float: none;
    width: auto;
    color: #f3bb2b;
    text-align: right;
    padding: 0;
    font-weight: 500;
    left: 2px;
    border-radius: 2px;
    top: 1px;
    position: absolute;
    display: block;
    font-size: 10px;
    margin: 0;
    background: #00000000;
    padding: 2px 4px;
    line-height: initial;
}
@media (min-width: 1px) and (max-width: 1600px) {
    #inventory {
    zoom: 70%}
}
#inv .bgshow {
    position: absolute;
    background:url('https://cdn.clan.su/bgshow.png');
    box-shadow: inset 0 0 678px 586px rgb(29 27 40 / 60%);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#inv .btnlink {
    color: #ffffff6b;
    position: absolute;
    justify-content: center;
    top: 2vh;
    margin-left: -10vh;
    display: flex;
    font-family: ProximaNova,sans-serif;
    font-size: 2.2vh;
}
#inv .btnActive {
    padding-right: 20px;
    color: white;
    transition: all .98s;
}
#inv .btn {
    padding-right: 20px;
    color: #ffffff78;
    transition: all .98s;
}
#inv .btnActive:hover {
    color: white;
    transition: all .98s;
}
#inv .btn:hover {
    color: white;
    transition: all .98s;
}
#inv .left-panel {
    position: absolute;
    bottom: 19vh;
    left: 22vh;
    font-family: ProximaNova,sans-serif;
}

#inv .left-panel .Selector {
    width: 24vh;
    opacity: 0.4;
    margin-left: 1vh;
}

#inv .left-panel .Peds {
    width: 17vh;
    opacity: 0.8;
    position: absolute;
    margin-top: -36vh;
    margin-left: 4vh;
}

#inv .left-panel .clothes {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 15px;
    padding: 1vh;
    align-items: center;
    display: flex;
    margin-top: -35vh;
    margin-left: 22vh;
}

#inv .left-panel .clothes1 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 15px;
    padding: 1vh;
    align-items: center;
    display: flex;
    margin-top: -17vh;
    margin-left: 20vh;
}

#inv .left-panel .clothes2 {
    position: absolute;
    border: 1px solid #ffffff70;
    border-radius: 15px;
    padding: 1.5vh;
    align-items: center;
    display: flex;
    margin-top: -9vh;
    margin-left: 10vh;
}

#inv .left-panel .clothes3 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 15px;
    height: 7vh;
    padding: 1vh;
    align-items: center;
    display: flex;
    margin-top: -2vh;
    margin-left: -7vh;
}

#inv .left-panel .clothes4 {
    position: absolute;
    border: 1px solid #ffffff70;
    border-radius: 15px;
    padding: 1.5vh;
    align-items: center;
    display: flex;
    margin-top: -2vh;
    margin-left: 10vh;
}

#inv .left-panel .clothes5 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 11px;
    padding: 0.5vh;
    align-items: center;
    display: flex;
    margin-top: -21vh;
    margin-left: 29vh;
}

#inv .left-panel .clothes6 {
    position: absolute;
    border: 1px solid #ffffff70;
    border-radius: 15px;
    padding: 1.5vh;
    align-items: center;
    display: flex;
    margin-top: -16vh;
    margin-left: 10vh;
}

#inv .left-panel .clothes7 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 10px;
    padding: 1.3vh;
    align-items: center;
    display: flex;
    margin-left: 28vh;
}

#inv .left-panel .clothes8 {
    position: absolute;
    border: 1px solid #ffffff70;
    border-radius: 15px;
    padding: 1.5vh;
    align-items: center;
    display: flex;
    margin-top: -23vh;
    margin-left: 10vh;
}

#inv .left-panel .clothes9 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 15px;
    padding: 1vh;
    align-items: center;
    display: flex;
    margin-top: -35vh;
}

#inv .left-panel .clothes10 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 15px;
    padding: 1vh;
    align-items: center;
    display: flex;
    margin-top: -35vh;
    margin-left: -6vh;
}

#inv .left-panel .clothes11 {
    position: absolute;
    border: 1px solid #ffffff2b;
    border-radius: 11px;
    padding: 0.5vh;
    align-items: center;
    display: flex;
    margin-top: -16vh;
    margin-left: 29vh;
}

#inv .left-panel .clothes img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes1 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes2 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes3 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes4 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes5 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes6 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes7 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes8 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes9 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes10 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .left-panel .clothes11 img{
    width: 3vh;
    opacity: 0.4;
}

#inv .item-1ma .active {
        position: absolute;
}
#inv  .item-1ma .item.active {
    position: fixed;
    background: url(../items4/-1.png);
    border-radius: 10px;
    z-index: 1;
    height: 5vh;    background-color: #bbbbbbd4;
    width: 5.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 47vh;
    left: 44vh;
    }
#inv .item-1ma .item.active img {
    left: 0;
    display: none;
}
#inv .item-1ma .item.active p {
    opacity: 0;
}
#inv  .item-1ma .item.active span {
    opacity: 0;
}

#inv  .item-3ma .active {
}
#inv  .item-3ma .item.active {
    position: fixed;
    background: url(../items4/-3.png);
    border-radius: 10px;
    z-index: 1;
    height: 5.5vh;    background-color: #bbbbbbd4;
    width: 5.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 28.9vh;
    left: 42vh;
    }
#inv  .item-3ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-3ma .item.active p {
    opacity: 0;
}
#inv  .item-3ma .item.active span {
    opacity: 0;
}

#inv  .item-4ma .active {
}
#inv  .item-4ma .item.active {
    position: fixed;
    background: url(../items4/-4.png);
    border-radius: 10px;
    z-index: 1;
    height: 6vh;    background-color: #bbbbbbd4;
    width: 6.2vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 19.9vh;
    left: 32vh;
    }
#inv  .item-4ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-4ma .item.active p {
    opacity: 0;
}
#inv  .item-4ma .item.active span {
    opacity: 0;
}

#inv .item-5ma .active {
        position: absolute;
}
#inv  .item-5ma .item.active {
    position: fixed;
    background: url(../items4/-5.png);
    border-radius: 10px;
    z-index: 1;
    height: 9vh;
    background-color: #bbbbbbd4;
    width: 5.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 9.9vh;
    left: 15vh;
    }
#inv .item-5ma .item.active img {
    left: 0;
    display: none;
}
#inv .item-5ma .item.active p {
    opacity: 0;
}
#inv  .item-5ma .item.active span {
    opacity: 0;
}

#inv  .item-6ma .active {
}
#inv  .item-6ma .item.active {
    position: fixed;
    background: url(../items4/-6.png);
    border-radius: 10px;
    z-index: 1;
    height: 6.2vh;    background-color: #bbbbbbd4;
    width: 6.2vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 12.7vh;
    left: 32vh;
    }
#inv  .item-6ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-6ma .item.active p {
    opacity: 0;
}
#inv  .item-6ma .item.active span {
    opacity: 0;
}

#inv  .item-7ma .active {
}
#inv  .item-7ma .item.active {
    position: fixed;
    background: url(../items4/-7.png);
    border-radius: 10px;
    z-index: 1;
    height: 4vh;    background-color: #bbbbbbd4;
    width: 4.1vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 33.9vh;
    left: 51vh;
    }
#inv  .item-7ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-7ma .item.active p {
    opacity: 0;
}
#inv  .item-7ma .item.active span {
    opacity: 0;
}

#inv  .item-8ma .active {
}
#inv  .item-8ma .item.active {    
    position: fixed;
    background: url(../items4/-8.png);
    border-radius: 10px;
    z-index: 1;
    height: 6.3vh;    background-color: #bbbbbbd4;
    width: 6.2vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 26.7vh;
    left: 32vh;
    }
#inv  .item-8ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-8ma .item.active p {
    opacity: 0;
}
#inv  .item-8ma .item.active span {
    opacity: 0;
}

#inv  .item-9ma .active {
}
#inv  .item-9ma .item.active {
    position: fixed;
    background: url(../items4/-9.png);
    border-radius: 10px;
    z-index: 1;
    height: 6.3vh;    background-color: #bbbbbbd4;
    width: 6.2vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 10.7vh;
    left: 50vh;
    }
#inv  .item-9ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-9ma .item.active p {
    opacity: 0;
}
#inv  .item-9ma .item.active span {
    opacity: 0;
}

#inv  .item-11ma .active {
}
#inv  .item-11ma .item.active {
    position: fixed;
    background: url(../items4/-11.png);
    border-radius: 10px;
    z-index: 1;
    height: 6.3vh;    background-color: #bbbbbbd4;
    width: 6.2vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 33.7vh;
    left: 32vh;
    }
#inv  .item-11ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-11ma .item.active p {
    opacity: 0;
}
#inv  .item-11ma .item.active span {
    opacity: 0;
}

#inv  .item-12ma .active {
}
#inv  .item-12ma .item.active {
    position: fixed;
    background: url(../items4/-12.png);
    border-radius: 10px;
    z-index: 1;
    height: 5.3vh;    background-color: #bbbbbbd4;
    width: 5.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 46.7vh;
    left: 22vh;
    }
#inv  .item-12ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-12ma .item.active p {
    opacity: 0;
}
#inv  .item-12ma .item.active span {
    opacity: 0;
}

#inv  .item-13ma .active {
}
#inv  .item-13ma .item.active {
    position: fixed;
    background: url(../items4/-13.png);
    border-radius: 10px;
    z-index: 1;
    height: 5.3vh;    background-color: #bbbbbbd4;
    width: 5.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 46.7vh;
    left: 16vh;
    }
#inv  .item-13ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-13ma .item.active p {
    opacity: 0;
}
#inv  .item-13ma .item.active span {
    opacity: 0;
}

#inv  .item-14ma .active {
}
#inv  .item-14ma .item.active {
    position: fixed;
    background: url(../items4/-14.png);
    border-radius: 10px;
    z-index: 1;
    height: 4.3vh;    background-color: #bbbbbbd4;
    width: 4.3vh;
    background-position: center;
    background-size: 3vh 3vh;
    background-repeat: no-repeat;
    bottom: 28.7vh;
    left: 51vh;
    }
#inv  .item-14ma .item.active img {
    left: 0;
    display: none;
}
#inv  .item-14ma .item.active p {
    opacity: 0;
}
#inv  .item-14ma .item.active span {
    opacity: 0;
}

#inv .right-panel {
    position: absolute;
    bottom: 17vh;
    height: 32vh;
    left: 65vh;
    display: flex;
    max-width: 67vh;
    max-height: 37vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    border-radius: 15px;
    align-content: flex-start;
    scroll-behavior: smooth;
    font-family: ProximaNova,sans-serif;
}
#inv .right-panel h6 {
    color: white;
    font-weight: 100;
    font-size: 2.2vh;
    margin-left: 1%;
    margin-top: -2%;
    position: fixed;
}
/*#inv .right-panel .items-block {
    border: 1px solid #ffffff12;
    width: 6.92vh;
    height: 7vh;
    margin-left: 8.5px;
    margin-bottom: 2vh;
    border-radius: 1vh;
}*/
#inv .right-panel .item-List {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-left: 10px;
    height: 3vh;
    flex-wrap: wrap;
}
#inv .right-panel  .item:hover {
    color:black;
    border:none;
    background-color: #fffffff5;
    transition: all .98s;
    background-blend-mode: difference;
}

#inv .right-panel .item span{
    float: none;
    width: auto;
    color: #ffffff00;
    text-align: right;
    left: 63%;
    border-radius: 2px;
    top: 71%;
    position: absolute;
    display: block;
    font-size: 1.1vh;
    font-weight: 500;
    margin: 0;
    padding: 2px 4px;
    line-height: initial;
}

#inv .right-panel  .item:hover .sub {
    display: block;
    color:black;
    transition: all .88s;
}
#inv .right-panel  .item:hover span {
    display: block;
    color:black;
    transition: all .88s;
}
#inv .right-panel  .item .names {
    display: none;
    transition: all .88s;
}
#inv .right-panel  .item:hover .names {
    font-size: 2.5vh;
    position: fixed;
    height: 12vh;
    color: #ffffff;
    display: block;
    width:36vh;
    z-index: 99;
    bottom: 68vh;
    left: 69vh;
    font-family: ProximaNova,sans-serif;
    font-weight: 100;
    transition: all .88s;
}
#inv .right-panel .names a{
    font-size: 1.6vh;
    color: #ffffff94;
}
#inv .right-panel .names b{
    position: static;
    margin-top: -6vh;
    font-weight: 100;
    float: right;
}


#inv .right-panel .item-out {
    display: flex;
    -ms-flex-wrap: wrap;
    margin-left: 10px;
    flex-wrap: wrap;
    right: 0%;
    max-height: 37vh;
    width: 37vh;
    max-width: 37vh;
    position: fixed;
    overflow-y: auto;
    border-left: 1px solid #ffffff33;
    padding-left: 4vh;
    overflow-x: hidden;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    scroll-behavior: smooth;
    font-family: ProximaNova,sans-serif;
}

#inv .menuStatS {
    position: relative;
    margin: 7% 0 0;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    }
#inv .menuStatS .left-block {
        position: fixed;
        height: 57vh;
        left: 33vh;
        top: 17vh;
    }

#inv .menuStatS .left-block  h1 {
    position: relative;
    left: -2%;
    font-size: 2.5vh;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    top: 4%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 51px;
}
#inv .menuStatS .left-block  h2 {
    position: relative;
    left: -2%;
    font-size: 2.5vh;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    top: 4%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}
#inv .menuStatS li {
    border-bottom: 2px double;
    color: rgb(255 255 255 / 5%);
    list-style: none;
    margin: 10px 0 0;
    width: 363px;
}
#inv .menuStatS span {
    position: relative;
    display: inline-block;
    color: #ffffff66;
    background: rgb(255 255 255 / 0%);
    text-shadow: 0 0 #ffffff59;
    font-size: 1.6vh;
    line-height: 1.5;
    top: 7px;
}
#inv .menuStatS span a{
    padding-left: 5px;
    color: #ffffff45;
}
#inv .menuStatS span:last-child {
    float: right;
    color:white
}
#inv .menuStatS .blockLic {
    background: #ffffff0d;
    width: 100%;
    height: 9vh;
    display: flex;
    margin-top: 7%;
}
#inv .menuStatS .blockLic .row__slot {
    position: absolute;
    margin-left: 10%;
    width: 101%;
    margin-top: 2vh;
}
#inv .menuStatS .blockLic .row__slot .truckIco {
    background-color: #ffffff;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .truckIcoActive {
    border: 1px solid#ffffff;
    opacity: 0.2;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .carIco {
    background-color: #ffffff;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .carIcoActive {
    border: 1px solid#ffffff;
    opacity: 0.2;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .planeIco {
    background-color: #ffffff;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .planeIcoActive {
    border: 1px solid#ffffff;
    opacity: 0.2;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .motoIco {
    background-color: #ffffff;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .motoIcoActive {
    border: 1px solid#ffffff;
    opacity: 0.2;
    padding: 1vh;
    border-radius: 34px;
    width: 8%;
    margin-left: 3%;
}
#inv .menuStatS .blockLic .row__slot .lic_circle {
    margin-left: 5px;
}

    #inv .menuStatS .right-block {
    position: fixed;
    height: 57vh;
    right: 30vh;
    top: 17vh;
    opacity: 0.2;
    }

#inv .menuStatS .right-block  h1 {
    position: relative;
    left: -2%;
    font-size: 2.5vh;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    top: 4%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 51px;
}
#inv .menuStatS .right-block  h2 {
    position: relative;
    left: -2%;
    font-size: 2.5vh;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    top: 4%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin-bottom: 10px;
}

#inv h1 {
    position: absolute;
    left: 2%;
    top: 1%;
    font-size: 3vh;
    text-align: center;
    color: white;
    font-weight: 100;
    letter-spacing: 0.1em;
}


/* Меню для инвентаря */
.context_menu {
    position: absolute;
    z-index: 999;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.55);
    border-left: 2px solid #d11f1f;
    min-width: 5vh;
    border-radius: 5px;
    padding: 5px;
    width: 131px;
    font-family: "Acrom", sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.context_menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 5px 0;
}
.context_menu li {
        display: block;
        margin-bottom: 0;
        padding: .5vh;
        font-size: 14px;
        border-radius: 1vh;
}
.context_menu li:hover {
        background: #d11f1f;
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
}
.context_menu li:last-child {
        margin-bottom: 0;
}

    .fade-enter-active, .fade-leave-active {
  transition: opacity .58s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}